@font-face{
	font-family: bebas;
	src:url("../fonts/bebas/BebasNeue Regular.otf");
}

@beb: bebas;

body{
	/*background: url(../img/parallax1.jpg) center 0 repeat fixed; min-height: 1200px;*/
}
header{
	h1{
		font-family: @beb;
	font-size: 30px;
	}
}

#main{
	color: #000;
	.section{
		min-height: 1200px;
	}

}